* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: papayawhip;
}

.container {
  border: 1px solid red;
  padding: 15px;
  padding-top: 80px;
  border: 3px solid black;
  background-color: salmon;
}

.img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid black;
  margin-bottom: -90px;
}

.Anacontainer {
  /* border: 1px solid green; */
  text-align: center;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 50rem;
  height: 50rem;
  margin: 100px auto 0;
}
.icerik {
  /* border: 2px solid blue; */

  font-size: 40px;
}

#altparagraf {
  color: palevioletred;
  text-align: center;
  padding-top: 40px;
  width: 40rem;
  margin: auto;
}
